env
datasets
videos
model
model_ten
model_ten_modify
save_dir
trained_model
output_videos
model_cellphone
model_fire
model_smoke
demo_0113
model_cellphone_update
model_demo_10
model_demo_12
model_fire_300
model_fire_ori_150
runs
model_demo_11
